#logo {
    color: white;
    background-color: red;

}

.navbar{
    background-color: black;
}

.nav-link {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-transform: uppercase;
   
}

.whitecart {
    color: white;
}

.menu li {
display: inline;
}

#skip {
    color: white;
    background-color: red;
}

#back-groundblack {
    background-color: black;
}

.buttons {
    font-family: sans-serif;
    color: white;
    
}
/*this is background color and hover for sneakers.html*/
.buttons:hover { 
    background-color: turquoise;
    text-shadow: 2px 2px purple;
}

.glass {
    background-color: red;
}

h1{
    font-family: 'DotGothic16', sans-serif;  
}

.restaurants {
    font-family: 'Akaya Telivigala', cursive;
}
/*this is background color for login on sneakers.html*/
.stick:hover {
    background-color: turquoise;
}

.title{

}

.box {
    border-bottom: 2px solid #000000;
    display: flex;
    height: 200px;
    width: 100%;
}
.child {
    align-self: flex-end;
    width: 100px;
    height: 100px;
    background: #FFB6C1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

.footer {
    background-color: black;
}